
@{
    ViewData["Title"] = "OrderItemUpdate";
}
<div>
    <form method="post" action="/OrderItemsUpdate">
        <div class="form-group">
            <label for="username">OrderName</label>
            <input type="text" class="form-control" name="orderName" id="orderName" placeholder="OrderName" value="@Model.OrderName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" name="orderItemId" value="@Model.OrderItemId">
    </form>
</div>