<a class="btn btn-primary" routerLink="/orderItems/create">Create</a>

<table class="table table-striped">
<thead>
    <tr>
        <th scope="col">orderItemId</th>
        <th scope="col">createdDate</th>
        <th scope="col">createdDate</th>
        <th scope="col">OrderName</th>
        <th scope="col">delete</th>
    </tr>
</thead>
<tbody>
<tr *ngFor="let orderItem of OrderItems">
    <td> 
        <a routerLink="/orderItems/update/{{orderItem.orderItemId}}">{{orderItem.orderItemId}}</a>
    </td>
    <td> {{ orderItem.createdBy }} </td>
    <td> {{ orderItem.createdDate }} </td>
    <td> {{ orderItem.orderName }} </td>
    <td>
        <button class="btn btn-primary" (click)="delete(orderItem.orderItemId);">Delete</button>
    </td>
</tr>
</tbody>
</table>