<table class="table table-striped">
<thead>
    <tr>
        <th scope="col">loginId</th>
        <th scope="col">createdDate</th>
        <th scope="col">createdDate</th>
        <th scope="col">username</th>
        <th scope="col">delete</th>
    </tr>
</thead>
<tbody>
<tr *ngFor="let login of Logins">
    <td> {{ login.loginId }} </td>
    <td> {{ login.createdBy }} </td>
    <td> {{ login.createdDate }} </td>
    <td> {{ login.username }} </td>
    <td>
        <button class="btn btn-primary" (click)="delete(login.loginId);">Delete</button>
    </td>
</tr>
</tbody>
</table>